body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-attachment: fixed;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    text-align: center;
}

/* https://fonts.google.com/selection/embed */
h1 {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.info {
    width: 80%;
    background-color: rgb(255 255 255 / 20%);
    border: 1px white;
    box-shadow: 5px 10px 20px rgb(121, 121, 121);
    padding: 30px;
    margin: 30px auto;
    border-radius: 30px;
    backdrop-filter: blur(10px);
}